/*=============
Layout
=============*/

* {
  box-sizing: border-box;
}

/*=============
Header
=============*/

.navbar-header {
  height: 80px;
}

.navbar-brand {
  height: 80px;
  width: 275px;
  background: url(../images/logo.svg) center no-repeat;
  display: block;
  padding-top: 0;
  margin-top: 0;
}

#navbar {}


#navbar ul, .signin {
  padding-top: 30px;
  margin-left: 10px;
  font-family: "source_sans_prosemibold";
  font-size: 14px;

  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#navbar ul li a {
  color: white;
  margin: auto 0 auto 20px;
  padding: 0px;
  font-weight: 900;
}

.header-search {
  background-image: url(../images/sprites/sprite-buttons.png);
  background-position: -17px -3px;
  background-size: 240px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
  display: inline-block;
}

.header-subscribe {
  color: white;
  height: 80px;
  padding: 15px 0px 0px 0px;
}

.subscribe-icon {
  display: inline-block;
}

.subscribe-icon img {
  height: 40px;
  width: auto;
  margin-top: -20px;
}

.subscribe-text {
  font-family: "source_sans_prosemibold";
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 69%;
}


.subscribe-text .yellow {
  display: inline-block;
  width: 100%;
  color: yellow;
}

.edition {
  background-image: url(../images/sprites/sprite-buttons.png);
  background-position: 0 -240px;
  width: 80px;
  height: 80px;
  text-align: center;
  background-size: 240px;
  background-repeat: no-repeat;
}

.signin {
  color: #FFFFFF;
  text-transform: capitalize;
  height: 80px;
  border-bottom: 4px solid red;
}

/*=============
Top Stories
=============*/

.first-row {
  margin: 0 50px 0 50px;
}

.front-page {
  position: relative;
  top: 82px;
  margin: auto;
}

.cover-story {
  padding: 0;
  margin-bottom: 160px;
}

.picture-frame {
  padding: 0;
}


.cover-photo {
  width: 100%;
  padding: 0 0 0 0;
}

.cover-teasers {
  border-top: 1px solid #e5e5e5;
}

.cover-teasers .teaser:first-child {
  border-right: 1px solid #e5e5e5;
}

.cover-teasers .teaser {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cover-teaser {
  text-align: center;
  position: absolute;
  bottom: -110px;
  left: 0;
  right: 0;

  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
  border-top: 4px solid red;
}

.story-category {
  font-family: "source_sans_probold";
}

.story-title {
    font-family: "source_sans_problack";
}

.story-summary {
  font-family: "playfair_displayregular";
}

.bullet-point {
  font-family: "source_sans_prosemibold"
}

.cover-story .story-category {
  color: #FF0500;

  text-transform: uppercase;
  font-size: 22px;
  line-height: 20px;
}

.cover-teaser .story-title a {
  font-size: 42px;
  letter-spacing: -.25px;
  line-height: 38px;
  color: #000000;
  text-transform: uppercase;
}

.cover-teaser .story-summary {
  font-size: 27px;
  letter-spacing: .25px;
  line-height: 32px;
}

.cover-teaser .bullet-point {
  font-size: 16px;
  line-height: 20px;

}

.bullet-point ul {
  list-style: none;
}

.bullet-point li {
  padding-left: 1em;
  text-indent: -.7em;
  font-size: 1em;
}

.bullet-point li:before {
  content: "■";
  font-size: 1em;
  color: #00B7FF;
  vertical-align: bottom;
}

.bullet-point a {
  color: #000000;
}

.teaser {
  text-align: center;
}

.teaser .story-category {
  color: #FF0500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .5px;
}

.teaser .story-title a {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -.5px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.teaser .story-summary {
  font-size: 17px;
  letter-spacing: .25px;
  line-height: 21px;
}

.teaser .bullet-point {
  font-size: 16px;
  line-height: 20px;
}

.sponsor-insight {
  background-color: rgba(205, 240, 255, .2);
}

.latest-headlines {
  padding: 10px 0px 0px 19px;
}

.latest-headlines h2 {
  text-transform: uppercase;
  color: #FF0500;
  font-size: 19px;
  letter-spacing: .25px;
  line-height: 22px;
  font-family: "playfair_displayregular"
}

.latest-headlines .headline {
  font-size: 16px;
  line-height: 20px;
  font-family: "source_sans_prosemibold";
}

.latest-headlines .headline:hover {
  text-decoration: underline;
}

.latest-headlines ul {
  list-style: none;
  padding: 0;
}

.latest-headlines li {
  padding: 15px 0px 15px 1em;
  text-indent: -.9em;
  font-size: 16px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.latest-headlines li:first-child {
  border-top: none;
}

.latest-headlines li:before {
  content: "■";
  font-size: .625em;
  color: red;
  vertical-align: text-top;
  position: relative;
  left: -5px;
}

.latest-headlines button {
  width: 100%;
  font-family: "source_sans_probold";
  font-size: 16px;
  line-height: 50px;
  color: #757575;
  background-color: #e5e5e5;
}
/*=============
Top Stories
=============*/

.top-stories, .other-stories, .magazine-slideshow {
  margin: 10px 90px;
}

.top-stories, .other-stories {
  border-top: 1px solid #e5e5e5;
}

.top-stories {
  padding-top: 10px;
}

.top-stories .teaser  {
  min-height: 500px;
  border-right: 1px solid #e5e5e5;
}

.top-stories .teaser:last-child {
  border-right: none;
}

.other-stories .teaser {
  min-height: 250px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.other-stories .teaser:last-child {
  border-right: none;
}



/*=============
Carousel
=============*/

.magazine-highlights {
  margin: 40px 0px 20px 0px;
}

.text-decoration {
  display: block;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #FF0500;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;

}

.in-the-magazine {
  background-color: white;
  display: inline-block;
  font-family: "playfair_displayregular";
  font-size: 19px;
  letter-spacing: .25px;
  text-transform: uppercase;
  color: #FF0500;
  padding: 0px 20px;

  position: relative;
  left: 40%;

}

.carousel-control {
  background-color: rgba(255, 5, 0, 1);
  width: 60px;
  height: 60px;
  opacity: 1;
  margin: auto 0;
}

.item {
  text-align: center;
}

.item .story-category {
  color: #FF0500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .5px;
}

.item .story-title a {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -.5px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.item .story-summary {
  font-size: 17px;
  letter-spacing: .25px;
  line-height: 21px;
}

/*=============
Bigshots
=============*/
.bigshots {
  background-color: #282828;
}

.bigshots .wrapper {
  margin: 40px 75px;
}

.bigshots h2 {
  color: #00B7FF;
  font-family: "playfair_displayregular";
  font-size: 19px;
  letter-spacing: .25px;
  text-transform: uppercase;
}

.bigshots button {
  color: white;
  background-color: #00B7FF;
  border-radius: 0;
  font-family: "source_sans_probold";
  font-size: 16px;
}

.bigshots .caption {
  width: 60%;
}

.bigshots .bullet-point {
  font-family: "source_sans_prosemibold";
  font-size: 16px;
  color: white;
}

.bigshots .bullet-point ul {
  margin-top: 40px;
  padding: 0;
}

.bigshots .story-summary {
  font-family: "source_sans_proregular";
  font-size: 16px;
  color: rgb(153, 153, 153);
}

.bigshots-count {
  font-family: "source_sans_proregular";
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*=============
This Week
=============*/
.this-week {
  margin: 50px 65px;
}

.issue .story-category, .issue .story-title {
  text-align: center;
}

.this-week .story-category {
  margin: auto;
  width: 150px;
  height: 28px;


  background: #c00; /* fallback */
	background:
		linear-gradient(135deg, transparent 10px, red 0) top left,
		linear-gradient(315deg, transparent 10px, red 0) bottom right,
		linear-gradient(225deg, transparent 0, red 0) top right,
		linear-gradient(45deg,  transparent 0, red 0) bottom left;
  background-repeat: no-repeat;
	background-size: 50% 50%;

}

.this-week .story-category span {
  color: white;
  font-size: 14px;
  font-family: "source_sans_probold";
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  top: -5px;
}

.story-title a {
  color: black;
  font-family: "source_sans_problack";
  font-size: 42px;
  text-transform: uppercase;
}

.this-week blockquote {
  font-family: "playfair_displayregular";
  font-size: 30px;
  text-transform: uppercase;
}

.this-week .byline {
  font-family: "playfair_displayregular";
  font-size: 15px;
  text-transform: uppercase;
}

.this-week .features h2 {
  color: red;
  font-family: "source_sans_probold";
  font-size: 16px;
  text-transform: capitalize;
}

.this-week .feature:hover {
  text-decoration: underline;
}

.this-week  .features ul {
  list-style: none;
  padding: 0;
}

.this-week .features li {
  padding: 15px 0px 15px 1em;
  text-indent: -.9em;
  font-size: 16px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.features a {
  color: black;
}

.this-week .features li:first-child {
  border-top: none;
}

.this-week .features li:before {
  content: "■";
  font-size: .825em;
  color: red;
  vertical-align: text-top;
  position: relative;
  left: -5px;
}

.this-week .features .btn {
  margin-top: 40px;
  width: 200px;
  height: 40px;
  font-family: "source_sans_probold";
  font-size: 16px;
  color: #757575;
  background-color: #e5e5e5;
  border-radius: 0;
}

.most-read {
  font-family: "source_sans_probold";
  font-size: 16px;
}

.most-read .tab-pane ul {
  list-style: none;
  padding:0;
  margin:0;
}

.most-read .tab-pane li {
  margin: 25px 0px 25px 0px;

  padding-left: 2em;
  text-indent: -.8em;
}

.most-read .tab-pane li:before {
  content: "■";
  color: #00B7FF;
  vertical-align: center;
  font-size: .75em;
  position: relative;
  left: -5px;
  top: -1px;
}

.most-read li:hover {
  text-decoration: underline;
}

/*=============
Footer
=============*/
footer {
  background-color: #181818;
  padding: 30px 72px;
  border-top: 4px solid red;
  padding-top: 30px;
}



nav a {
  display: block;
  font-family: "source_sans_prosemibold";
  font-size: 16px;
  color: white;
  margin: 10px 0px;
}


.social-media ul {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

.social-media li {
  width: 40px;
  height: 40px;
  background-size: 240px;
  background-image: url("http://s.newsweek.com/sites/all/themes/lemon/images/sprite-social.png");
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.social-media .facebook {
  background-position: 0 0;
}

.social-media .twitter {
  background-position: -40px 0;
}

.social-media .google+ {
  background-position: -200px 0;
}

.social-media .instagram {
  background-position: -80px 0;
}

.social-media .tumblr {
  background-position: -160px 0;
}

.social-media .linkedin {
  background-position: -120px 0;
}

.recent-cover {
  max-width: 100%;
  height: 210px;
  vertical-align: middle;
}

.recent-issues {
  padding: 35px 30px 0px 150px;
}

.recent-issues h2 {
  color: white;
  font-family: "playfair_displayregular";
  font-size: 28px;
  text-indent: -2%;
  padding-bottom: 5px;
}

.recent-cover .features {
  /* Set a max width equal to the max-width of the cover */
}

.recent-issues .issue-date a {
  font-family: "source_sans_prosemibold";
  font-size: 16px;
  color: white;
}

.recent-issues .issue-date {
  padding: 15px 0px;
}

.recent-issues .issue-date::before {
  content: "■";
  color: red;
}

.recent-issues .feature a {
  color: rgb(85, 85, 85);
  font-family: "source_sans_proregular";
  font-size: 16px;
}

.feature {
  padding-bottom: 10px;
}

.subscribe .email {
  width: 310px;
  height: 50px;
  border-radius: 0;
}

.subscribe .btn {
  width: 100px;
  height: 50px;
  border-radius: 0;
  background-color: #666;
  color: white;
  font-family: "source_sans_prosemibold";
  font-size: 16px;
  position: relative;
  left: -4px;
}
