/*=============
Fonts
=============*/

@font-face {
  font-family:'Genericons';
  src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.eot");
  src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.eot?#iefix") format("embedded-opentype"),
  url("http://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.woff") format("woff")
  url("http://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.svg#Genericons") format("svg");
  font-weight:normal;font-style:normal;}

@font-face {
  font-family:'playfair_displayblack'; src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-black-webfont.eot");
  src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-black-webfont.eot?#iefix") format("embedded-opentype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-black-webfont.woff2") format("woff2"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-black-webfont.woff") format("woff"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-black-webfont.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-black-webfont.svg#playfair_displayblack") format("svg"); font-weight:normal;font-style:normal;}

@font-face {
  font-family:'playfair_displayblack_italic';
  src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-blackitalic-webfont.eot");
  src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-blackitalic-webfont.woff2") format("woff2"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-blackitalic-webfont.woff") format("woff"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-blackitalic-webfont.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-blackitalic-webfont.svg#playfair_displayblack_italic") format("svg"); font-weight:normal;font-style:normal;
  }

@font-face {
  font-family:'playfair_displaybold'; src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bold-webfont.eot");
  src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bold-webfont.woff2") format("woff2"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bold-webfont.woff") format("woff"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bold-webfont.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold") format("svg"); font-weight:normal;font-style:normal;
}

@font-face {
  font-family:'playfair_displaybold_italic'; src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bolditalic-webfont.eot"); src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bolditalic-webfont.woff2") format("woff2"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bolditalic-webfont.woff") format("woff"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bolditalic-webfont.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic") format("svg"); font-weight:normal;font-style:normal;}

@font-face {
  font-family:'playfair_displayregular'; src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-regular-webfont.eot"); src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular") format("svg"); font-weight:normal; font-style:normal;
}

@font-face {
  font-family:'playfair_displayitalic'; src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-italic-webfont.eot"); src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-italic-webfont.woff2") format("woff2"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-italic-webfont.woff") format("woff"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-italic-webfont.ttf") format("truetype"), url("http://s.newsweek.com/sites/all/themes/lemon/fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic") format("svg"); font-weight:normal; font-style:normal;
}

@font-face {
  font-family:'source_sans_problack';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-black-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-black-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-black-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-black-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-black-webfont.svg#source_sans_problack") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_problack_italic';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-blackitalic-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-blackitalic-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-blackitalic-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-blackitalic-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-blackitalic-webfont.svg#source_sans_problack_italic") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_probold';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bold-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bold-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bold-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_probold_italic';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bolditalic-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bolditalic-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bolditalic-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bolditalic-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_prosemibold';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibold-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibold-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_proSBdIt';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibolditalic-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibolditalic-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibolditalic-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibolditalic-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_proregular';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-regular-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-regular-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_proitalic';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-italic-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-italic-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-italic-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-italic-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_prolight';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-light-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-light-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-light-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-light-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family:'source_sans_prolight_italic';src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-lightitalic-webfont.eot");src:url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-lightitalic-webfont.woff2") format("woff2"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-lightitalic-webfont.woff") format("woff"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-lightitalic-webfont.ttf") format("truetype"),url("http://s.newsweek.com/sites/all/themes/lemon/fonts/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic") format("svg");font-weight:normal;font-style:normal;}

/*=============
Layout
=============*/

* {
  box-sizing: border-box;
}

/*=============
Header
=============*/

.navbar-header {
  height: 80px;
}

.navbar-brand {
  height: 80px;
  width: 275px;
  background: url(../images/logo.svg) center no-repeat;
  display: block;
}

#navbar {}


#navbar ul, .signin {
  padding-top: 30px;
  margin-left: 10px;
  font-family: "source_sans_prosemibold";
  font-size: 14px;

  text-transform: uppercase;
  letter-spacing: 1.5px;


}

#navbar ul li a {
  color: white;
  margin: auto 0 auto 20px;
  padding: 0px;
  font-weight: 900;
}

.header-search {
  background-image: url(../images/sprites/sprite-buttons.png);
  background-position: -17px -3px;
  background-size: 240px;
  background-repeat: no-repeat;
  height: 80px;
  width: 46px;
  display: inline-block;
}

.header-subscribe {
  color: white;
  height: 80px;
  padding: 15px 0px 0px 0px;
}

.subscribe-icon {
  display: inline-block;

}

.subscribe-icon img {
  height: 40px;
  width: auto;
    margin-top: -20px;
}

.subscribe-text {
  font-family: "source_sans_prosemibold";
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 40%;
}


.subscribe-text .yellow {
  display: inline-block;
  width: 100%;
  color: yellow;
}

.edition {
  background-image: url(../images/sprites/sprite-buttons.png);
  background-position: 0 -240px;
  width: 80px;
  height: 80px;
  text-align: center;
  background-size: 240px;
  background-repeat: no-repeat;
}

.signin {
  color: #FFFFFF;
  text-transform: capitalize;
}

/*=============
Top Stories
=============*/

.first-row {
  margin: 0 70px 0 70px;
}

.front-page {
  position: relative;
  top: 82px;
  margin: auto;
}

.cover-photo {
  width: 100%;
  padding: 0 0 0 0;

}

.cover-teaser {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;


  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
  border-top: 4px solid red;


}

.story-category {
  font-family: "source_sans_probold";
}

.story-title {
    font-family: "source_sans_problack";
}

.story-summary {
  font-family: "playfair_displayregular";
}

.bullet-point {
  font-family: "source_sans_prosemibold"
}

.cover-story .story-category {
  color: #FF0500;

  text-transform: uppercase;
  font-size: 22px;
  line-height: 20px;
}

.cover-teaser .story-title a {
  font-size: 42px;
  letter-spacing: -.25px;
  line-height: 38px;
  color: #000000;
  text-transform: uppercase;
}

.cover-teaser .story-summary {
  font-size: 27px;
  letter-spacing: .25px;
  line-height: 32px;
}

.cover-teaser .bullet-point {
  font-size: 16px;
  line-height: 20px;

}

.bullet-point ul {
  list-style: none;
}

.bullet-point li {
  padding-left: 1em;
  text-indent: -.7em;
  font-size: 1em;
}

.bullet-point li:before {
  content: "■";
  font-size: 1em;
  color: #00B7FF;
  vertical-align: bottom;
}

.bullet-point a {
  color: #000000;
}

.teaser {
  text-align: center;
}

.teaser .story-category {
  color: #FF0500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .5px;
}

.teaser .story-title a {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -.5px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.teaser .story-summary {
  font-size: 17px;
  letter-spacing: .25px;
  line-height: 21px;
}

.teaser .bullet-point {
  font-size: 16px;
  line-height: 20px;
}

.latest-headlines h2 {
  text-transform: uppercase;
  color: #FF0500;
  font-size: 19px;
  letter-spacing: .25px;
  line-height: 22px;
  font-family: "playfair_displayregular"
}

.latest-headlines .headline {
  font-size: 16px;
  line-height: 20px;
  font-family: "source_sans_prosemibold";
}

.latest-headlines .headline:hover {
  text-decoration: underline;
}

.latest-headlines ul {
  list-style: none;
  padding: 0;
}

.latest-headlines li {
  padding: 15px 0px 15px 1em;
  text-indent: -.9em;
  font-size: 1em;
  width: 100%;
}

.latest-headlines li:before {
  content: "■";
  font-size: 1em;
  color: red;
  vertical-align: bottom;
  position: relative;
  left: -10px;
}

.latest-headlines button {
  width: 100%;
  font-family: "source_sans_probold";
  font-size: 16px;
  line-height: 50px;
  color: #757575;
  background-color: #e5e5e5;
}
/*=============
Top Stories
=============*/

.top-stories, .other-stories, .magazine-slideshow {
  margin: 10px 90px;
}

/*=============
Carousel
=============*/
.carousel-control {
  background-color: rgba(255, 5, 0, 1);
  width: 60px;
  height: 60px;
  opacity: 1;
  margin: auto 0;
}

.item {
  text-align: center;
}

.item .story-category {
  color: #FF0500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .5px;
}

.item .story-title a {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -.5px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.item .story-summary {
  font-size: 17px;
  letter-spacing: .25px;
  line-height: 21px;
}

/*=============
Bigshots
=============*/
.bigshots {
  background-color: #282828;
}

.bigshots .wrapper {
  margin: 40px 75px;
}

/*=============
This Week
=============*/
.issue .story-category, .issue .story-title {
  text-align: center;
}

/*=============
Footer
=============*/
footer {
  background-color: #181818;
  margin-top: 30px;
  border-top: 4px solid red;
  padding-top: 30px;
}

nav a {
  display: block;
}

.social-media ul {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

.social-media li {
  width: 40px;
  height: 40px;
  background-size: 240px;
  background-image: url("http://s.newsweek.com/sites/all/themes/lemon/images/sprite-social.png");
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.social-media .facebook {
  background-position: 0 0;
}

.social-media .twitter {
  background-position: -40px 0;
}

.social-media .google+ {
  background-position: -200px 0;
}

.social-media .instagram {
  background-position: -80px 0;
}

.social-media .tumblr {
  background-position: -160px 0;
}

.social-media .linkedin {
  background-position: -120px 0;
}

.recent-cover {
  max-width: 100%;
  height: 210px;
  vertical-align: middle;
}

.recent-cover .features {
  /* Set a max width equal to the max-width of the cover */
}
